<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Route POC</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" ><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active"><a routerLink="module1">Module1</a></li>
      <li routerLinkActive="active"><a routerLink="/module2">Module2</a></li>
      <li routerLinkActive="active"><a routerLink="/module3">Module3</a></li>
    </ul>
  </div>
</nav>
